################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LDPC/.vs/LDPC/v15
/LDPC/Debug
/LDPC/LDPC.vcxproj.user
/LDPC/LDPC.vcxproj.filters
/LDPC/LDPC.vcxproj
/LDPC/LDPC.sln
/LDPC/SimulateMatlab/simulate (2).m
/LDPC/SimulateMatlab/simulate.m
/LDPC_python/__pycache__
/LDPC_python/.idea
/LDPC_python/.ipynb_checkpoints
/LDPC_cpp/SimulateMatlab/simulate (2).m
/LDPC_cpp/SimulateMatlab/simulate.m
/LDPC_cpp/.vs/LDPC/v15/
/LDPC_cpp/Debug/
/LDPC_python/H.csv
/LDPC_cpp/H2.csv
/LDPC_cpp/H.csv
/LDPC_python/lprof0
/LDPC_tests/Decoders_tests/Debug/
/LDPC_cpp/x64
/LDPC_cpp/EtalonDecoder
/LDPC_cpp/sim_res.txt
/Results/.ipynb_checkpoints/
/Results/.ipynb_checkpoints/
